<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="historial">
            <h2><span jhiTranslate="nexos20App.historial.detail.title">Historial</span> {{historial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexos20App.historial.montoHistorial">Monto Historial</span></dt>
                <dd>
                    <span>{{historial.montoHistorial}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.historial.descripcionHistorial">Descripcion Historial</span></dt>
                <dd>
                    <span>{{historial.descripcionHistorial}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.historial.idTransaccion">Id Transaccion</span></dt>
                <dd>
                    <span>{{historial.idTransaccion}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.historial.fechaHistorial">Fecha Historial</span></dt>
                <dd>
                    <span>{{historial.fechaHistorial}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.historial.cuenta">Cuenta</span></dt>
                <dd>
                    <div *ngIf="historial.cuenta">
                        <a [routerLink]="['/cuenta', historial.cuenta?.id, 'view']">{{historial.cuenta?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nexos20App.historial.cuentasAsociadas">Cuentas Asociadas</span></dt>
                <dd>
                    <div *ngIf="historial.cuentasAsociadas">
                        <a [routerLink]="['/cuentas-asociadas', historial.cuentasAsociadas?.id, 'view']">{{historial.cuentasAsociadas?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/historial', historial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
