<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-historial-heading" jhiTranslate="nexos20App.historial.home.createOrEditLabel">Create or edit a Historial</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!historial.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.montoHistorial" for="field_montoHistorial">Monto Historial</label>
                    <input type="number" class="form-control" name="montoHistorial" id="field_montoHistorial"
                           formControlName="montoHistorial"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.descripcionHistorial" for="field_descripcionHistorial">Descripcion Historial</label>
                    <input type="text" class="form-control" name="descripcionHistorial" id="field_descripcionHistorial"
                           formControlName="descripcionHistorial"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.idTransaccion" for="field_idTransaccion">Id Transaccion</label>
                    <input type="number" class="form-control" name="idTransaccion" id="field_idTransaccion"
                           formControlName="idTransaccion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.fechaHistorial" for="field_fechaHistorial">Fecha Historial</label>
                    <div class="d-flex">
                        <input id="field_fechaHistorial" type="datetime-local" class="form-control" name="fechaHistorial" formControlName="fechaHistorial" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.cuenta" for="field_cuenta">Cuenta</label>
                    <select class="form-control" id="field_cuenta" name="cuenta" formControlName="cuenta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cuentaOption.id === editForm.get('cuenta').value?.id ? editForm.get('cuenta').value : cuentaOption" *ngFor="let cuentaOption of cuentas; trackBy: trackCuentaById">{{cuentaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.historial.cuentasAsociadas" for="field_cuentasAsociadas">Cuentas Asociadas</label>
                    <select class="form-control" id="field_cuentasAsociadas" name="cuentasAsociadas" formControlName="cuentasAsociadas">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cuentasAsociadasOption.id === editForm.get('cuentasAsociadas').value?.id ? editForm.get('cuentasAsociadas').value : cuentasAsociadasOption" *ngFor="let cuentasAsociadasOption of cuentasasociadas; trackBy: trackCuentasAsociadasById">{{cuentasAsociadasOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
