<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexos20App.historial.home.title">Historials</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historial" [routerLink]="['/historial/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nexos20App.historial.home.createLabel">
            Create new Historial
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="historials">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montoHistorial"><span jhiTranslate="nexos20App.historial.montoHistorial">Monto Historial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcionHistorial"><span jhiTranslate="nexos20App.historial.descripcionHistorial">Descripcion Historial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idTransaccion"><span jhiTranslate="nexos20App.historial.idTransaccion">Id Transaccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaHistorial"><span jhiTranslate="nexos20App.historial.fechaHistorial">Fecha Historial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuenta.id"><span jhiTranslate="nexos20App.historial.cuenta">Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuentasAsociadas.id"><span jhiTranslate="nexos20App.historial.cuentasAsociadas">Cuentas Asociadas</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let historial of historials ;trackBy: trackId">
                <td><a [routerLink]="['/historial', historial.id, 'view' ]">{{historial.id}}</a></td>
                <td>{{historial.montoHistorial}}</td>
                <td>{{historial.descripcionHistorial}}</td>
                <td>{{historial.idTransaccion}}</td>
                <td>{{historial.fechaHistorial | date:'medium'}}</td>
                <td>
                    <div *ngIf="historial.cuenta">
                        <a [routerLink]="['../cuenta', historial.cuenta?.id, 'view' ]" >{{historial.cuenta?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="historial.cuentasAsociadas">
                        <a [routerLink]="['../cuentas-asociadas', historial.cuentasAsociadas?.id, 'view' ]" >{{historial.cuentasAsociadas?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/historial', historial.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/historial', historial.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'historial', { outlets: { popup: historial.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
