<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cuenta">
            <h2><span jhiTranslate="nexos20App.cuenta.detail.title">Cuenta</span> {{cuenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexos20App.cuenta.numerCuenta">Numer Cuenta</span></dt>
                <dd>
                    <span>{{cuenta.numerCuenta}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.aliasCuenta">Alias Cuenta</span></dt>
                <dd>
                    <span>{{cuenta.aliasCuenta}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.saldoCuenta">Saldo Cuenta</span></dt>
                <dd>
                    <span>{{cuenta.saldoCuenta}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.monedaCuenta">Moneda Cuenta</span></dt>
                <dd>
                    <span>{{cuenta.monedaCuenta}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.fechaCuenta">Fecha Cuenta</span></dt>
                <dd>
                    <span>{{cuenta.fechaCuenta}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{cuenta.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.user">User</span></dt>
                <dd>
                    {{cuenta.user?.id}}
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.tipocuenta">Tipocuenta</span></dt>
                <dd>
                    <div *ngIf="cuenta.tipocuenta">
                        <a [routerLink]="['/tipo', cuenta.tipocuenta?.id, 'view']">{{cuenta.tipocuenta?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuenta.tipoNombreBanco">Tipo Nombre Banco</span></dt>
                <dd>
                    <div *ngIf="cuenta.tipoNombreBanco">
                        <a [routerLink]="['/banco', cuenta.tipoNombreBanco?.id, 'view']">{{cuenta.tipoNombreBanco?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cuenta', cuenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
