<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexos20App.cuenta.home.title">Cuentas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cuenta" [routerLink]="['/cuenta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nexos20App.cuenta.home.createLabel">
            Create new Cuenta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cuentas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numerCuenta"><span jhiTranslate="nexos20App.cuenta.numerCuenta">Numer Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aliasCuenta"><span jhiTranslate="nexos20App.cuenta.aliasCuenta">Alias Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="saldoCuenta"><span jhiTranslate="nexos20App.cuenta.saldoCuenta">Saldo Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="monedaCuenta"><span jhiTranslate="nexos20App.cuenta.monedaCuenta">Moneda Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaCuenta"><span jhiTranslate="nexos20App.cuenta.fechaCuenta">Fecha Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="nexos20App.cuenta.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="nexos20App.cuenta.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipocuenta.id"><span jhiTranslate="nexos20App.cuenta.tipocuenta">Tipocuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoNombreBanco.id"><span jhiTranslate="nexos20App.cuenta.tipoNombreBanco">Tipo Nombre Banco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cuenta of cuentas ;trackBy: trackId">
                <td><a [routerLink]="['/cuenta', cuenta.id, 'view' ]">{{cuenta.id}}</a></td>
                <td>{{cuenta.numerCuenta}}</td>
                <td>{{cuenta.aliasCuenta}}</td>
                <td>{{cuenta.saldoCuenta}}</td>
                <td>{{cuenta.monedaCuenta}}</td>
                <td>{{cuenta.fechaCuenta | date:'medium'}}</td>
                <td>{{cuenta.descripcion}}</td>
                <td>
                    {{cuenta.user?.id}}
                </td>
                <td>
                    <div *ngIf="cuenta.tipocuenta">
                        <a [routerLink]="['../tipo', cuenta.tipocuenta?.id, 'view' ]" >{{cuenta.tipocuenta?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cuenta.tipoNombreBanco">
                        <a [routerLink]="['../banco', cuenta.tipoNombreBanco?.id, 'view' ]" >{{cuenta.tipoNombreBanco?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cuenta', cuenta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cuenta', cuenta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cuenta', { outlets: { popup: cuenta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
