<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cuenta-heading" jhiTranslate="nexos20App.cuenta.home.createOrEditLabel">Create or edit a Cuenta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cuenta.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.numerCuenta" for="field_numerCuenta">Numer Cuenta</label>
                    <input type="number" class="form-control" name="numerCuenta" id="field_numerCuenta"
                           formControlName="numerCuenta"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.aliasCuenta" for="field_aliasCuenta">Alias Cuenta</label>
                    <input type="text" class="form-control" name="aliasCuenta" id="field_aliasCuenta"
                           formControlName="aliasCuenta"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.saldoCuenta" for="field_saldoCuenta">Saldo Cuenta</label>
                    <input type="number" class="form-control" name="saldoCuenta" id="field_saldoCuenta"
                           formControlName="saldoCuenta"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.monedaCuenta" for="field_monedaCuenta">Moneda Cuenta</label>
                    <input type="text" class="form-control" name="monedaCuenta" id="field_monedaCuenta"
                           formControlName="monedaCuenta"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.fechaCuenta" for="field_fechaCuenta">Fecha Cuenta</label>
                    <div class="d-flex">
                        <input id="field_fechaCuenta" type="datetime-local" class="form-control" name="fechaCuenta" formControlName="fechaCuenta" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.tipocuenta" for="field_tipocuenta">Tipocuenta</label>
                    <select class="form-control" id="field_tipocuenta" name="tipocuenta" formControlName="tipocuenta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoOption.id === editForm.get('tipocuenta').value?.id ? editForm.get('tipocuenta').value : tipoOption" *ngFor="let tipoOption of tipos; trackBy: trackTipoById">{{tipoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuenta.tipoNombreBanco" for="field_tipoNombreBanco">Tipo Nombre Banco</label>
                    <select class="form-control" id="field_tipoNombreBanco" name="tipoNombreBanco" formControlName="tipoNombreBanco">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bancoOption.id === editForm.get('tipoNombreBanco').value?.id ? editForm.get('tipoNombreBanco').value : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
