<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-perfil-heading" jhiTranslate="nexos20App.perfil.home.createOrEditLabel">Create or edit a Perfil</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!perfil.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.tipoIdentificacion" for="field_tipoIdentificacion">Tipo Identificacion</label>
                    <select class="form-control" name="tipoIdentificacion" formControlName="tipoIdentificacion" id="field_tipoIdentificacion">
                        <option value="CEDULA">{{'nexos20App.Identificacion.CEDULA' | translate}}</option>
                        <option value="TARJETA">{{'nexos20App.Identificacion.TARJETA' | translate}}</option>
                        <option value="IDENTIDAD">{{'nexos20App.Identificacion.IDENTIDAD' | translate}}</option>
                        <option value="CEDULA_EXTRANJERIA">{{'nexos20App.Identificacion.CEDULA_EXTRANJERIA' | translate}}</option>
                        <option value="PASAPORTE">{{'nexos20App.Identificacion.PASAPORTE' | translate}}</option>
                        <option value="OTRO">{{'nexos20App.Identificacion.OTRO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.identificacion" for="field_identificacion">Identificacion</label>
                    <input type="number" class="form-control" name="identificacion" id="field_identificacion"
                           formControlName="identificacion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.edad" for="field_edad">Edad</label>
                    <input type="number" class="form-control" name="edad" id="field_edad"
                           formControlName="edad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.sexo" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" formControlName="sexo" id="field_sexo">
                        <option value="FEMENINO">{{'nexos20App.Sexo.FEMENINO' | translate}}</option>
                        <option value="MASCULINO">{{'nexos20App.Sexo.MASCULINO' | translate}}</option>
                        <option value="OTRO">{{'nexos20App.Sexo.OTRO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="d-flex">
                        <input id="field_fechaNacimiento" type="datetime-local" class="form-control" name="fechaNacimiento" formControlName="fechaNacimiento" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.nacionalidad" for="field_nacionalidad">Nacionalidad</label>
                    <select class="form-control" name="nacionalidad" formControlName="nacionalidad" id="field_nacionalidad">
                        <option value="Colombia">{{'nexos20App.Nacionalidad.Colombia' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.telefono" for="field_telefono">Telefono</label>
                    <input type="number" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.perfil.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
