<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfil">
            <h2><span jhiTranslate="nexos20App.perfil.detail.title">Perfil</span> {{perfil.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexos20App.perfil.tipoIdentificacion">Tipo Identificacion</span></dt>
                <dd>
                    <span jhiTranslate="{{'nexos20App.Identificacion.' + perfil.tipoIdentificacion}}">{{perfil.tipoIdentificacion}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.identificacion">Identificacion</span></dt>
                <dd>
                    <span>{{perfil.identificacion}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.edad">Edad</span></dt>
                <dd>
                    <span>{{perfil.edad}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.sexo">Sexo</span></dt>
                <dd>
                    <span jhiTranslate="{{'nexos20App.Sexo.' + perfil.sexo}}">{{perfil.sexo}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.direccion">Direccion</span></dt>
                <dd>
                    <span>{{perfil.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.fechaNacimiento">Fecha Nacimiento</span></dt>
                <dd>
                    <span>{{perfil.fechaNacimiento}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.nacionalidad">Nacionalidad</span></dt>
                <dd>
                    <span jhiTranslate="{{'nexos20App.Nacionalidad.' + perfil.nacionalidad}}">{{perfil.nacionalidad}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.telefono">Telefono</span></dt>
                <dd>
                    <span>{{perfil.telefono}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.perfil.user">User</span></dt>
                <dd>
                    {{perfil.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil', perfil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
