<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexos20App.perfil.home.title">Perfils</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-perfil" [routerLink]="['/perfil/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nexos20App.perfil.home.createLabel">
            Create new Perfil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="perfils">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoIdentificacion"><span jhiTranslate="nexos20App.perfil.tipoIdentificacion">Tipo Identificacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="identificacion"><span jhiTranslate="nexos20App.perfil.identificacion">Identificacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="edad"><span jhiTranslate="nexos20App.perfil.edad">Edad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sexo"><span jhiTranslate="nexos20App.perfil.sexo">Sexo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccion"><span jhiTranslate="nexos20App.perfil.direccion">Direccion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaNacimiento"><span jhiTranslate="nexos20App.perfil.fechaNacimiento">Fecha Nacimiento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nacionalidad"><span jhiTranslate="nexos20App.perfil.nacionalidad">Nacionalidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono"><span jhiTranslate="nexos20App.perfil.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="nexos20App.perfil.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let perfil of perfils ;trackBy: trackId">
                <td><a [routerLink]="['/perfil', perfil.id, 'view' ]">{{perfil.id}}</a></td>
                <td jhiTranslate="{{'nexos20App.Identificacion.' + perfil.tipoIdentificacion}}">{{perfil.tipoIdentificacion}}</td>
                <td>{{perfil.identificacion}}</td>
                <td>{{perfil.edad}}</td>
                <td jhiTranslate="{{'nexos20App.Sexo.' + perfil.sexo}}">{{perfil.sexo}}</td>
                <td>{{perfil.direccion}}</td>
                <td>{{perfil.fechaNacimiento | date:'medium'}}</td>
                <td jhiTranslate="{{'nexos20App.Nacionalidad.' + perfil.nacionalidad}}">{{perfil.nacionalidad}}</td>
                <td>{{perfil.telefono}}</td>
                <td>
                    {{perfil.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/perfil', perfil.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/perfil', perfil.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'perfil', { outlets: { popup: perfil.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
