<div>
    <h2 id="page-heading">
        <span jhiTranslate="nexos20App.cuentasAsociadas.home.title">Cuentas Asociadas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cuentas-asociadas" [routerLink]="['/cuentas-asociadas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="nexos20App.cuentasAsociadas.home.createLabel">
            Create new Cuentas Asociadas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cuentasAsociadas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="aliasCuentaAsocia"><span jhiTranslate="nexos20App.cuentasAsociadas.aliasCuentaAsocia">Alias Cuenta Asocia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.id"><span jhiTranslate="nexos20App.cuentasAsociadas.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cuenta.id"><span jhiTranslate="nexos20App.cuentasAsociadas.cuenta">Cuenta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cuentasAsociadas of cuentasAsociadas ;trackBy: trackId">
                <td><a [routerLink]="['/cuentas-asociadas', cuentasAsociadas.id, 'view' ]">{{cuentasAsociadas.id}}</a></td>
                <td>{{cuentasAsociadas.aliasCuentaAsocia}}</td>
                <td>
                    {{cuentasAsociadas.user?.id}}
                </td>
                <td>
                    <div *ngIf="cuentasAsociadas.cuenta">
                        <a [routerLink]="['../cuenta', cuentasAsociadas.cuenta?.id, 'view' ]" >{{cuentasAsociadas.cuenta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cuentas-asociadas', cuentasAsociadas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cuentas-asociadas', cuentasAsociadas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cuentas-asociadas', { outlets: { popup: cuentasAsociadas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
