<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cuentas-asociadas-heading" jhiTranslate="nexos20App.cuentasAsociadas.home.createOrEditLabel">Create or edit a Cuentas Asociadas</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cuentasAsociadas.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuentasAsociadas.aliasCuentaAsocia" for="field_aliasCuentaAsocia">Alias Cuenta Asocia</label>
                    <input type="text" class="form-control" name="aliasCuentaAsocia" id="field_aliasCuentaAsocia"
                           formControlName="aliasCuentaAsocia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuentasAsociadas.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nexos20App.cuentasAsociadas.cuenta" for="field_cuenta">Cuenta</label>
                    <select class="form-control" id="field_cuenta" name="cuenta" formControlName="cuenta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cuentaOption.id === editForm.get('cuenta').value?.id ? editForm.get('cuenta').value : cuentaOption" *ngFor="let cuentaOption of cuentas; trackBy: trackCuentaById">{{cuentaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
