<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cuentasAsociadas">
            <h2><span jhiTranslate="nexos20App.cuentasAsociadas.detail.title">Cuentas Asociadas</span> {{cuentasAsociadas.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nexos20App.cuentasAsociadas.aliasCuentaAsocia">Alias Cuenta Asocia</span></dt>
                <dd>
                    <span>{{cuentasAsociadas.aliasCuentaAsocia}}</span>
                </dd>
                <dt><span jhiTranslate="nexos20App.cuentasAsociadas.user">User</span></dt>
                <dd>
                    {{cuentasAsociadas.user?.id}}
                </dd>
                <dt><span jhiTranslate="nexos20App.cuentasAsociadas.cuenta">Cuenta</span></dt>
                <dd>
                    <div *ngIf="cuentasAsociadas.cuenta">
                        <a [routerLink]="['/cuenta', cuentasAsociadas.cuenta?.id, 'view']">{{cuentasAsociadas.cuenta?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cuentas-asociadas', cuentasAsociadas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
